
.hand {
 display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    

}
.card_column {
  border: 2px dashed rgb(180, 177, 189);
  padding: 1rem;
  min-height: 200px;
  min-width: 20px;
  flex: 1;
  position: relative;
  gap: 1em;
}

.card {
  position: block;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
}

.card-image {
  width: auto; 
  height: auto;
}